.contact h1{
   text-align: center;
   padding: 5rem;
   color: wheat;
   
}

.form{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    padding: 4rem 0.1rem;
    margin: auto;
    max-width: 210px;
    color: yellow;

    

}
.label{
    color: yellow;
}

form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
}
