

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding-top: 5rem;
    color: yellow;
    text-shadow: 100em;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.slider.swiper{
    overflow: visible!important;

}

.slider-slider{
    margin-top: 3rem;
    width: 100%;
}

.slider-slider .swiper-slide{
    width: 20rem;

}

.slider img{
    width: 19rem;
}